<h1> Add a teacher </h1>
<%= form_for @changeset, Routes.teacher_path(@conn, :create), [], fn f -> %>
    <%= label f, :name, "First name" %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>

    <%= label f, :surname, "Last name" %>
    <%= text_input f, :surname %>
    <%= error_tag f, :surname %>

    <%= submit "Add teacher" %>
<% end %>
