<h1> Your enrollments </h1>

<ol>
    <%= for enrollment <- @enrollments do %>
        <li> <%= link enrollment.name, to: Routes.enrollment_path(@conn, :show, enrollment.id) %> (<%= enrollment.state %>) </li>
    <% end %>
</ol>
