<h1 class="title"> <%= @enrollment.name %> </h1>
<h2 class="subtitle"> <%= @enrollment.state %> </h2>

<div class="content columns">
    <div class="column">
        <h3> Assigned users </h3>
        <%= for user <- @enrollment.users do %>
            <div>
                <%= user.name %> <%= user.last_name %>, <%= user.index_no %>
            </div>
        <% end %>
    </div>

    <div class="column">
        <h3> Subjects </h3>
        <%= for subject <- @enrollment.subjects do %>
            <div>
                <%= subject.name %>
            </div>
        <% end %>
    </div>
</div>
