<section>
  <nav role="navigation" class="row">
    <div class="column column-10 ">
      <%= link to: Routes.page_path(@conn, :index) do %>
        <img src="<%= Routes.static_path(@conn, "/favicon.svg") %>" class="logo">
      <% end %>
    </div>
    <div class="column">
      <h1>Plan picker</h1>
    </div>
    <div class="column column-offset-60">
      <%= render "_user_menu.html", assigns %>
    </div>
  </nav>
</section>
