<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Plan picker</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.svg") %>" />
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="">
        <nav role="navigation" class="row">
          <div class="column column-10 ">
            <%= link to: Routes.page_path(@conn, :index) do %>
              <img src="<%= Routes.static_path(@conn, "/favicon.svg") %>" class="logo">
            <% end %>
          </div>
          <div class="column">
            <h1>Plan picker</h1>
          </div>
          <div class="column column-offset-60">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <ul><li><%= link "Live dashboard", to: Routes.live_dashboard_path(@conn, :home) %></li></ul>
            <% end %>
            <%= render "_user_menu.html", assigns %>
          </div>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
