<h2 class="subtitle"> <%= @class.teacher.name %> <%= @class.teacher.surname %> </h2>
<%= for term <- @class.terms do %>
    <p class="content"> <%= term.interval %> </p>
<% end %>
<%= if @selected do %>
    <%= render "_user_list.html", conn: @conn, users: @class.users, no_users_prompt: "There are no users in this group." %>
<% else %>
    <%= length(@class.users) %> users in this group.
<% end %>
